.card {
  margin-top: 30px;
  background-color: #4096ee;
  border: 1px solid #4096ee;
  color: #FFFF;
  -webkit-box-shadow: 2px 2px 10px 1px #1155AD;
  box-shadow: 2px 2px 10px 1px #1155AD;
  opacity: 0.8;
}

.weather-img {
  max-width: 60px;
  opacity: 0.7;
  margin-left: 90px;
  margin-bottom: 30px;
}

.location-title {
  margin-top: 20px;
}
